<! nuevo informe >

<% 	if (@informe != nil) and (@auto != nil) and (@usuario!=nil)  %> 


			<!-- barra de navegacion : tipo Renderizado Parcial-->
				<%= render "/mapas/nav" %>
	<div id="map" style="height: 70px;"></div>	 
	<% @informe.auto=@auto ; @informe.usuario=@usuario #le ingreso los datos del sistema %>
	
	<div class="container-fluid align-content-md-center "  >
		<div >  </div>
			<!-- alterta  con boton de cerrar-->
		<div class="alert alert-danger alert-dismissible fade show container-md mb-3 " > 
			<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="red" class="bi bi-exclamation-octagon" viewBox="0 0 16 16">
			<path d="M4.54.146A.5.5 0 0 1 4.893 0h6.214a.5.5 0 0 1 .353.146l4.394 4.394a.5.5 0 0 1 .146.353v6.214a.5.5 0 0 1-.146.353l-4.394 4.394a.5.5 0 0 1-.353.146H4.893a.5.5 0 0 1-.353-.146L.146 11.46A.5.5 0 0 1 0 11.107V4.893a.5.5 0 0 1 .146-.353L4.54.146zM5.1 1 1 5.1v5.8L5.1 15h5.8l4.1-4.1V5.1L10.9 1H5.1z"/>
			<path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
			</svg>
			<em>alerta <b><%= @usuario.nombre %></b>: este informe se presume verdadero y con incumbencia al auto especificado con patente <b><%= @auto.patente %></b>, de no ser asi se tomara las medidas necesarias</em>
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>


	  			<!-- le cargo las relaciones con su auto y su usuario  -->


	  			<!-- inicio formulario  -->
	<%= bootstrap_form_for(@informe, layout: :horizontal,label_errors: true, inline_errors: true ) do |f| %>
		<div class="d-none" >
			<%= f.number_field :auto_id %>	<! incluyo al formulario los componentes que se van a enviar>
			<%= f.number_field :usuario_id%>
		</div>
	  			<!-- area de texto para titulo  -->
	  <%= f.text_field :titulo,  placeholder: "titulo corto y descriptivo de la situacion" , required: true %>
	  
	  			<!-- area de texto para agregar descripcion  -->				
	  <%= f.text_area :descripcion, placeholder: "descripcion en golpes, daños o detalles en el auto" , required: true%>
	  <div class="d-flex align-items-center flex-column p-2">
	  
	  				<!-- imagenes de piezas de autos  -->
		  <%= image_tag("auto-partes-1.jpeg", :height => "270",:width => "390") %>
		  <%= image_tag("auto-partes-2.jpg",:height => "240",:width => "390") %>
	  </div>
	  				<!-- selector de pieza de auto involucrada  -->
	  <%= f.select :parte_involucrada, [["1 Capó", 1], ["2 Guardafango", 2],["3 Puerta Delantera", 3],["4 Parabrisas delantero", 4],["5 Silla delantera", 5],["6 Costado", 6],["7 Stop", 7],["8 Tapa baúl", 8],["9 Paragolpes trasero", 9],["10 Panel trasero", 10],["11 Parabrisas trasero", 11],["12 Capota", 12],["13 Consola central", 13],["14 Timón", 14],["15 Tablero de instrumentos", 15],["16 Espejo interior", 16],["17 Espejo exterior", 17],["18 Farola o unidad delantera", 18],["19 Luz antiniebla",19],["20 Paragolpes delantero", 20],["21 Vidrio puerta delantera", 21],["22 Vidrio puerta trasera", 22],["23 Puerta trasera", 23],["24 Vidrio costado", 24],["25 LLanta", 25],["26 Estribo", 26],["27 Rin", 27]], { label: "Selecione Pieza Involucrada", wrapper: { class: 'has-warning', data: { foo: 'bar' } } }, required: true%>


			<!-- checkbox terminos y condiciones  -->
		<div class="d-flex align-items-center flex-column" >
			<div class="form-check p-3 mb-3">
				<input class="form-check-input" type="checkbox" value=false id="invalidCheck" required>
				<label class="form-check-label" for="invalidCheck">Acepto los terminos y condiciones</label>
				      <div class="invalid-feedback">
				      Debe aceptar los terminos antes de seguir.
				      </div>
			</div>
			
			<!-- boton formulacio de crear informe  -->	
	  <%= f.submit "Crear Informe", class: "btn btn-primary d-flex align-items-center flex-column" %>
	  			
	  			<!-- boton de cancelar operacion  -->
	  	  <div class="container text-center p-4">
			  <button type="button" class="btn btn-secondary" onclick="volver()">Cancelar</button>
		  </div>
	  </div>
</div>
	<% end %>
	
<% else %>	 
  <li>ha ocurrido un error :</li>
  <li> -> <%=  @notice_error %> </li>
  <li>se esperaban otros parametros.</li>
  <li>intente con otra configuracion de parametros. porEJ</li>
  <li> -> http://localhost:3000/informes/new?nroA=3&usuario=9</li>
<% end %>

<script>
	function volver(){
		window.history.back(1);
	}
</script>
  
