<! nuevo informe >
<div class="align-content-md-center"  >
	
		<!-- alterta  con boton de cerrar-->
	<div class="alert alert-danger alert-dismissible fade show container-md mb-3" > 
		<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="red" class="bi bi-exclamation-octagon" viewBox="0 0 16 16">
		<path d="M4.54.146A.5.5 0 0 1 4.893 0h6.214a.5.5 0 0 1 .353.146l4.394 4.394a.5.5 0 0 1 .146.353v6.214a.5.5 0 0 1-.146.353l-4.394 4.394a.5.5 0 0 1-.353.146H4.893a.5.5 0 0 1-.353-.146L.146 11.46A.5.5 0 0 1 0 11.107V4.893a.5.5 0 0 1 .146-.353L4.54.146zM5.1 1 1 5.1v5.8L5.1 15h5.8l4.1-4.1V5.1L10.9 1H5.1z"/>
		<path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
		</svg>
		<em>alerta: este informe se presume verdadero y con incumbencia al auto espesificado <%= @auto.patente %>, de no ser asi se tomara las medidas necesarias</em>
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
	
	<div class="mb-3" >
		  <h2 class="text-md-center w-100 p-2 " >Generar Informe del auto con patente <em><%= @auto.patente %></em> , color <%=@auto.color%> </h2>
	
			<!-- titulo del informe-->	
	<form class="needs-validation row g-3" novalidate>
		<div class="mb-3" >
		  <h3 for="validationCustom01" class="validationTextarea text-md-center w-100 p-2 " >Titulo  </h3>
		   <input type="text" class="form-control" id="validationTextarea" placeholder="titulo corto y descriptivo de la situacion" required>
		</div>

			<!-- area de texto-->
		<div class="needs-validation mb-3" novalidate>
		  <label for="validationCustom02" class="validationTextarea text-md-center w-100 p-2 " >Descripcion</label>
		  <textarea class="form-control" id="validationCustom02 " rows="4" placeholder="descripcion en golpes, daños o detalles en el auto" required></textarea>
		  <div class="invalid-feedback">Agregue Descripcion</div>
		</div>

			<!-- imagen ejemplo piezas -->
		<img class="sticky-md-top  p-1">
		<%= image_tag("auto-partes.jpeg",:height => "280",:width => "420") %>
		</img>
			<!-- selector de piezas deslizable-->
		<div class="input-group mb-3">
		  <button class="btn btn-outline-secondary" type="button" disabled >Pieza n° :</button>
		  <select class="form-select" id="inputGroupSelect03" required aria-label="select example">
				<option selected></option>
				<% for j in 1..20 %>
				<option value=<%= j %>> <%= j %> </option>
				<% end %>
		  </select>
		  <div class="invalid-feedback">seleccione a que pieza se refiere el informe</div>
		</div>
		<!-- checkbox estoy deacuerdo con la politica de informes  -->
		<div class="col-12" class="form-check">
		<div class="mb-3 form-check">
			<input class="form-check-input" type="checkbox" id="invalidCheck" required>
			<label class="form-check-label" for="invalidCheck">Estoy de acuerdo con la politica de informes</label>
		         <div class="invalid-feedback">
		         Debe aceptar la politica de informes antes de seguir.
		         </div>
		</div>


		<!-- checkbox terminos y condiciones  -->
	<div class="col-12" >
		<div class="form-check mb-3">
			<input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
			<label class="form-check-label" for="invalidCheck">Acepto los terminos y condiciones</label>
		         <div class="invalid-feedback">
		         Debe aceptar los terminos antes de seguir.
		         </div>
		</div>
	</div>
</form>

		<!-- boton enviar informe  -->
	  <div class="container text-center">
	     <button class="btn btn-primary" type="submit">Enviar Informe</button>
	  </div>
	  <div class="container text-center">
	     <button type="button" class="btn btn-secondary" onclick="volver()">Cancelar</button>
	  </div>
</div>

<script>
    (() => {
        'use strict'
    
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll('.needs-validation')
    
        // Loop over them and prevent submission
        Array.from(forms).forEach(form => {
        form.addEventListener('submit', event => {
            if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
            }
            form.classList.add('was-validated')
        }, false)
        })
    })()

	function volver(){
		window.history.back(1);
	}

</script>


<!--  div>
	<svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="green" class="bi bi-check-circle" viewBox="0 0 16 16">
	<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
	<path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>	<! check svg ok>
	</svg>
</div>

  
