
            <!-- barra de navegacion : tipo Renderizado Parcial-->
                <%= render "/mapas/nav" %>
<div id="map" style="height: 70px;"></div>   

<!-- h1 class="container-fluid text-center" > Elija cuanto tiempo quiere alquilar </h1-->
<div class="container-fluid">
    <h2 id="valorR"></h2>
    <%= bootstrap_form_tag url: '/alquilers/validar' do |f| %>
        <%= f.range_field :cuartos, hide_label: true, id: "barra", type: "range", class: "form-range", min:"1", max:"96", oninput: "slider()" %>
        <%=f.text_field :nroA, hide_label: true, id: "auto", type: "text", hidden: true%>
        <h2 id=horasTotal> </h2> Cantidad de horas
        <br>
        <%= f.primary "Contratar" %>
	<%end%>
  
    <script>
    function updateTextInput(val) {
          document.getElementById('textInput').value=val;
        }
    </script>

    <div class="row  m-2">
        <div class="col card text-bg-dark mb-1 text-center"> 
            <div class="card-body">
                <h1 id="muestraPrecio" style="margin-bottom: 0"> $ARS= 1250</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a href="/informes/new" type="button" class="btn btn-warning">Informar</a>
        </div>

        <div class="col">
            <button class="btn btn-danger" onclick="irHome()"> Volver</button>
        </div>
    </div>
    <h1><%=@usuario.monto_actual%></h1>
</div>
  
<script>  
    let params = new URLSearchParams(document.location.search);
    let auto = params.get("auto");
    let numAuto = Number(auto);
    document.getElementById('auto').value= auto;
    valorR.innerText="El vehiculo a alquilar es el N°" + auto;
    function slider() {
        horasTotal.innerText = (barra.value/4);
        muestraPrecio.innerText="$ARS= "+ ((barra.value/4)*1250);
    }
    function contratar(dineroDisp,loUso){  // Params (Nro auto, horas, usuario, valor)
        //let monto= <%= @usuarios.first().monto_actual %>;
        let precio= ((barra.value/4)*1250)
        let check=chequea(Number(auto), dineroDisp, loUso, precio ); // Num de error
        switch (check){
        case 0:
            console.log("El auto no esta ocupado y hay saldo "+location.host);
            //@usuario.decrement!(:monto_actual , precio)
            let url = new URL(window.location.origin + "/alquilers");
            url.searchParams.set("auto",auto);
            url.searchParams.set("mins",(barra.value/4)*60);
            location.href = url
            return true;
            break;
        case 1:// NO EXISTE MAS ESTE CASO SE CHEQUEA AANTES
            window.alert("El Auto esta en uso");
            return false;
            break;
        case 2:
            window.alert("Saldo Insuficiente");        
            return false;
            break;
        case 3:
            window.alert("No se puede utilizar el mismo auto en menos de 3hs");        
            return false;
            break;
        default: 
            window.alert("chequea dio negativo o mas de 2 ni idea pa");
            return false;
        }   
    }
    function chequea(numAuto,dineroDisp,loUso,precio){ // Devuelve 0 si todo ok
        if (dineroDisp<precio){ return 2 } // Plata insuficiente
        
        if (loUso){ return 3 } // Ya lo uso hace -3h
    
        return 0 // Este se puede usar
    }

    function irHome(){
        window.location.href = "/";
    }
    if (new URLSearchParams(document.location.search).get("notice")!= null){
        window.alert(new URLSearchParams(document.location.search).get("notice"))
    }

</script>