
            <!-- barra de navegacion : tipo Renderizado Parcial-->
                <%= render "/mapas/nav" %>
<div id="map" style="height: 70px;"></div>   

<!-- h1 class="container-fluid text-center" > Elija cuanto tiempo quiere alquilar </h1-->
<div class="container-fluid">
    <h2 id="valorR" class="text-center"></h2>
    <%= bootstrap_form_tag url: '/alquilers/validar' do |f| %>
        <%= f.range_field :cuartos, hide_label: true, id: "barra", type: "range",value: "1", class: "form-range", min:"1", max:"96", oninput: "slider()" %>
        <%=f.text_field :nroA, hide_label: true, id: "auto", type: "text", hidden: true%>
        <div class="text-center">
            <h2 id=horasTotal> </h2>
        </div>
    <div class="row  m-2">
        <div class="col card text-bg-dark mb-1 text-center"> 
            <div class="card-body">
                <h1 id="muestraPrecio" style="margin-bottom: 0"> $ARS= 1250</h1>
            </div>
        </div>
    </div>
    <div class="row  m-2">
        <div class="col card text-bg-success text-center"> 
            <div class="card-header">
               <h5>Tu billetera</h5>
            </div>
                <div class="card-body">
                    <h1 id="billetera">$ARS <%=@usuario.monto_actual%></h1>
                </div>
        </div>
    </div>
    <div class="row p-4">
        <%= f.primary "Contratar" ,class: "btn btn-primary btn-lg" %>
    </div>
    <%end%>
    <div class="row ps-3 pe-3 p-1 mt-5">
        <a href="/informes" type="button" class="btn btn-warning">Ver informes</a>  
    </div>
    <div class="row ps-3 pe-3 p-1">
        <a class="btn btn-danger" href="/"> Cancelar</a>
    </div>
    </div>
</div>

<script>
    const params2 = new URLSearchParams(document.location.search);
    let auto_in = params2.get("auto"); 
    document.getElementById("auto").value = auto_in;
    valorR.innerText="Por cuanto tiempo queres rentar el auto N°" +auto_in+" ?";
    slider();
    function slider() {
        horasTotal.innerText = (barra.value/4) + "Hs.";
        muestraPrecio.innerText="$ARS= "+ ((barra.value/4)*1250);
    }
    function contratar(){  // Params (Nro auto, horas, usuario, valor)
        let monto= <%= @usuarios.first().monto_actual %>;
        let check=chequea(Number(auto_in), monto , (barra.value/4) ); // Num de error
        switch (check){
        case 0:
            console.log("El auto no esta ocupado y hay saldo "+location.host);
            let url = new URL(window.location.origin + "/alquilers");
            url.searchParams.set("auto",auto_in);
            url.searchParams.set("mins",(barra.value/4)*60);
            location.href = url
            return true;
            break;
        case 1:// NO EXISTE MAS ESTE CASO SE CHEQUEA AANTES
            window.alert("El Auto esta en uso");
            return false;
            break;
        case 2:
            window.alert("Saldo Insuficiente");        
            return false;
            break;
        case 3:
            window.alert("No se puede utilizar el mismo auto en menos de 3hs");        
            return false;
            break;
        default: 
            window.alert("chequea dio negativo o mas de 2 ni idea pa");
            return false;
        }   
    }
    function chequea(numAuto,dineroDisp,loUso,precio){ // Devuelve 0 si todo ok
        if (dineroDisp<precio){ return 2 } // Plata insuficiente
        
        if (loUso){ return 3 } // Ya lo uso hace -3h
    
        return 0 // Este se puede usar
    }

    function irHome(){
        window.location.href = "/";
    }
    if (new URLSearchParams(document.location.search).get("notice")!= null){
        window.alert(new URLSearchParams(document.location.search).get("notice"))
    }

</script>