<%= javascript_include_tag "jsQR.js", "data-turbolinks-track" => true  %>
<!-- ESTO ES EL BOTON DE NAVEGADOR Y LA BURGER -->
  
  <nav class="navbar fixed-top" style="background-color: #FEBD59;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
         <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-car-front-fill" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M2.52 3.515A2.5 2.5 0 0 1 4.82 2h6.362c1 0 1.904.596 2.298 1.515l.792 1.848c.075.175.21.319.38.404.5.25.855.715.965 1.262l.335 1.679c.033.161.049.325.049.49v.413c0 .814-.39 1.543-1 1.997V13.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1.338c-1.292.048-2.745.088-4 .088s-2.708-.04-4-.088V13.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1.892c-.61-.454-1-1.183-1-1.997v-.413a2.5 2.5 0 0 1 .049-.49l.335-1.68c.11-.546.465-1.012.964-1.261a.807.807 0 0 0 .381-.404l.792-1.848ZM3 10a1 1 0 1 0 0-2 1 1 0 0 0 0 2Zm10 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2ZM6 8a1 1 0 0 0 0 2h4a1 1 0 1 0 0-2H6ZM2.906 5.189l.956-1.913A.5.5 0 0 1 4.309 3h7.382a.5.5 0 0 1 .447.276l.956 1.913a.51.51 0 0 1-.497.731c-.91-.073-3.35-.17-4.597-.17-1.247 0-3.688.097-4.597.17a.51.51 0 0 1-.497-.731Z"/>
        </svg>
      </a>
       <h2 class="navbar-brand m-0">Alquilapp</h2>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" style="background-color: #FEBD59;" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
          <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
          </svg> 
          <h1><%=@usuario.nombre%> <%=@usuario.apellido%></h1>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="usuarios/show/edit">Mi Perfil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/momus53/Alquilapp-Grupo11">Acerca de nosotros</a>
            </li>
          </ul>

        </div>
      </div>
    </div>
    <!--Boton scanner -->
    <div class="fixed-bottom text-center">
      <button type="button" id="pieModal2" class="btn btn-warning btn-lg m-3" data-bs-toggle="modal" data-bs-target="#escanearQR" onclick="iniciarVideo()">
        <span class="p-3">Escanear QR</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" fill="currentColor" class="bi bi-qr-code-scan" viewBox="0 0 16 16">
        <path d="M0 .5A.5.5 0 0 1 .5 0h3a.5.5 0 0 1 0 1H1v2.5a.5.5 0 0 1-1 0v-3Zm12 0a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0V1h-2.5a.5.5 0 0 1-.5-.5ZM.5 12a.5.5 0 0 1 .5.5V15h2.5a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5v-3a.5.5 0 0 1 .5-.5Zm15 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1 0-1H15v-2.5a.5.5 0 0 1 .5-.5ZM4 4h1v1H4V4Z"/>
        <path d="M7 2H2v5h5V2ZM3 3h3v3H3V3Zm2 8H4v1h1v-1Z"/>
        <path d="M7 9H2v5h5V9Zm-4 1h3v3H3v-3Zm8-6h1v1h-1V4Z"/>
        <path d="M9 2h5v5H9V2Zm1 1v3h3V3h-3ZM8 8v2h1v1H8v1h2v-2h1v2h1v-1h2v-1h-3V8H8Zm2 2H9V9h1v1Zm4 2h-1v1h-2v1h3v-2Zm-4 2v-1H8v1h2Z"/>
        <path d="M12 9h2V8h-2v1Z"/>
        </svg>
      </button>
    </div>
  </nav>

  <div id="map" style="height: 400px;"></div>
  <br>
    <!-- MODAL DEFINITIVO -->
    <div class="container">
      <% @autos.each do |vehiculo| %>
      <div>
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#t<%=vehiculo.id.to_s%>">
          AUTO: <%=vehiculo.nroA %>
        </button>

        <div class="modal fade" id="t<%=vehiculo.id.to_s%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Informacion detallada</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="container">
                  <div class="row">
                    <div class="col">Numero:</div>
                    <div class="col"><%=  vehiculo.nroA %></div>
                    <div class="w-100"></div>
                    <div class="col">Color:</div>
                    <div class="col"><%=  vehiculo.color  %></div>
                    <div class="w-100"></div>
                    <div class="col">Patente:</div>
                    <div class="col"><%=  vehiculo.patente  %></div>
                    <div class="w-100"></div>
                    <div class="col">Estado:</div>
                    <%if vehiculo.en_uso%>
                      <div class="col" style="color: red">OCUPADO</div>
                    <%else%>
                      <div class="col" style="color: green">LIBRE</div>
                    <%end%>
                    <div><%=image_tag("auto"+vehiculo.color.to_s+".jpeg",style: "height:100%;width:100%;" )%> </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Volver</button>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#escanearQR" onclick="iniciarVideo()">Elegir</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%end%>
    </div>
  <!--ALERTA PARA CUANDO EL QR ES INVALIDO-->
  <div id="alertaQR" hidden="" class="container text-center">
    <div class="alert alert-danger row p-2 " role="alert">
      <div class="col-10">
        <strong>ERROR!</strong> el QR que estas intentando leer no es uno de los nuestros!
      </div>
      <div class="col">
        <button type="button" class="btn-close" aria-label="Close" onclick=ocultarAlerta()></button>
      </div>
    </div>
  </div>

  <!-- Modal EscanearQR -->
    <div class="modal fade" id="escanearQR" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5">Enfoca el codigo QR del vehiculo</h1>
            <button id="modal_QR" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" style="padding: 0">
            <div id="loadingMessage" hidden="">⌛ Loading video...</div>
            <canvas id="canvas" class="p-1 border" style="width:100%"></canvas>
            <div id="output">
              <div id="outputMessage">No QR code detected.</div>
                <div hidden=""><b>Data:</b> <span id="outputData"></span></div>
            </div>
          </div>
        </div>
      </div>
    </div>



<script>
    var video = document.createElement("video");
    var canvasElement = document.getElementById("canvas");
    var canvas = canvasElement.getContext("2d");
    var loadingMessage = document.getElementById("loadingMessage");
    var outputContainer = document.getElementById("output");
    var outputMessage = document.getElementById("outputMessage");
    var outputData = document.getElementById("outputData");
    var check_num = false;

    new Mapkick.Map("map", [{latitude: -34.903586, longitude: -57.937291, tooltip: "Tu ubicacion"}]);

    function ocultarAlerta(){
      alertaQR.hidden = true;
    }

    function drawLine(begin, end, color) {
      canvas.beginPath();
      canvas.moveTo(begin.x, begin.y);
      canvas.lineTo(end.x, end.y);
      canvas.lineWidth = 4;
      canvas.strokeStyle = color;
      canvas.stroke();
    }

    function iniciarVideo(){
    // Use facingMode: environment to attemt to get the front camera on phones
    navigator.mediaDevices.getUserMedia({ video: { facingMode: "environment" } }).then(function(stream) {
      video.srcObject = stream;
      video.setAttribute("playsinline", true); // required to tell iOS safari we don't want fullscreen
      video.play();
      requestAnimationFrame(tick);
    });
    }

    function tick() {
      loadingMessage.innerText = "⌛ Loading video..."
      if (video.readyState === video.HAVE_ENOUGH_DATA) {
        loadingMessage.hidden = true;
        canvasElement.hidden = false;
        outputContainer.hidden = false;

        canvasElement.height = video.videoHeight;
        canvasElement.width = video.videoWidth;
        canvas.drawImage(video, 0, 0, canvasElement.width, canvasElement.height);
        var imageData = canvas.getImageData(0, 0, canvasElement.width, canvasElement.height);
        var code = jsQR(imageData.data, imageData.width, imageData.height, {
          inversionAttempts: "dontInvert",
        });
        if (code) {
          drawLine(code.location.topLeftCorner, code.location.topRightCorner, "#FF3B58");
          drawLine(code.location.topRightCorner, code.location.bottomRightCorner, "#FF3B58");
          drawLine(code.location.bottomRightCorner, code.location.bottomLeftCorner, "#FF3B58");
          drawLine(code.location.bottomLeftCorner, code.location.topLeftCorner, "#FF3B58");
          outputMessage.hidden = true;
          outputData.parentElement.hidden = false;
          outputData.innerText = code.data;
          console.log("reconozco!");

          <% @autos.each do |vehiculo| %>
            if(code.data === "Numero_De_Auto:<%=vehiculo.nroA.to_s%>"){
                check_num = true;
                let url = new URL(location.href+"alquilers/show");
                url.searchParams.set("auto",<%=vehiculo.nroA.to_s%>);
                location.href = url
            }  
          <%end%>
          if(!check_num){
            alertaQR.hidden = false;
          }
        } else {
          outputMessage.hidden = false;
          outputData.parentElement.hidden = true;
        }
      }
      if (code) {
        console.log("ya lei")
        var md = document.getElementById("modal_QR").click();
      }else{
        requestAnimationFrame(tick);
      }
    }
  </script>